@media #{$tablet-up} {
  .main-container {
    > .main-content {
      margin-left: 20vw;
    }

    > .sidebar-nav {
      width: 20vw;
      height: 100vh;
      border-right: 1px solid hsl(0, 0%, 90%);
      position: fixed;
      overflow-y: scroll;
    }

  }
}
