// Font Size
$font-size-mega: 4em;
$font-size-kilo: 3em;
$font-size-hecto: 2em;
$font-size-deca: 1.5em;
$font-size-base: 1em;
$font-size-deci: 0.75em;
$font-size-centi: 0.625em;

// Line Height
$line-height-mega: 4rem;
$line-height-kilo: 3.5rem;
$line-height-hecto: 3rem;
$line-height-deca: 2.5rem;
$line-height-base: 1.75rem;
$line-height-deci: 1rem;
$line-height-centi: 0.5rem;