// Defining values
$mobile:   40em;       /* 640px */
$tablet:  40.063em;  /* 641px */
$desktop:   64.063em;  /* 1025px */
$desktop-large:  90.063em; /* 1441px */

// Defining media queries
$mobile-only:   "only screen and (max-width: #{$mobile} )" !default;
$mobile-up:     "only screen and (min-width: #{$mobile} )" !default;
$tablet-only:   "only screen and (min-width: #{$tablet} ) and (max-width: #{$desktop} )" !default;
$tablet-up:     "only screen and (min-width: #{$tablet} )" !default;
$desktop-only:  "only screen and (min-width: #{$desktop}) and (max-width: #{$desktop-large} )" !default;
$desktop-up:    "only screen and (min-width: #{$desktop})" !default;
$desktop-large-up: "only screen and (min-width: #{$desktop-large})" !default;

// Calling media queries
//
// @media #{$mobile-only} { ... }
// @media #{$mobile-up} { ... }
// @media #{$tablet-only} { ... }
// @media #{$tablet-up} { ... }
// @media #{$desktop-only} { ... }
// @media #{$desktop-up} { ... }
// @media #{$desktop-large-up} { ... }
