.main-content {

  padding-top: 2rem;
  padding-bottom: 6rem;

  > .wrapper {
    width: calc(40vw + 10em);
    max-width: calc(100% - 4em);
    
    margin-right: auto;
    margin-left: auto;
    
    display: block;

    >*:first-child {
      margin-top: 0;
    }

  }

}
