.main-container {
  display: flex;
  flex-wrap: nowrap;

  flex-direction: column;  

  @media #{$large-up} {
    flex-direction: row;
  }

  > .main-content {
    flex-basis: 80%;
  }

  > .sidebar-nav {
    flex-basis: 20%;

  }
}
