.sidebar-nav {

  > a {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    
    display: block;

    color: hsl(0, 0%, 60%);

    font-family: $font-family-title;
    font-weight: 500;
    letter-spacing: 1px;

    &:not(:first-child) {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;

      text-transform: uppercase;
      font-size: $font-size-centi;
      line-height: $line-height-deci;

    }

    &:first-child {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid hsl(0, 0%, 90%);

      font-size: $font-size-base;
      line-height: $line-height-deci;
      letter-spacing: 0.5px;
    }

    &:hover {
      background-color: hsl(0, 0%, 95%);
      color: hsl(0, 0%, 20%)
    }

    &.-current {
      background-color: $color-highlight;
      color: #fff;

      &:hover {
        background-color: mix(#000, $color-highlight, 10%);
      }

    }

  }

}
