.sidebar-nav {

  > a {
    padding-right: 2rem;
    padding-left: 2rem;
    
    display: block;

    color: hsl(0, 0%, 60%);

    &:not(:first-child) {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: $font-size-deci;
      line-height: $line-height-deci;

      &:hover {
        background-color: hsl(0, 0%, 95%)
      }

    }

    &:first-child {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      font-size: $font-size-base;
      line-height: $line-height-deci;
    }

    &:hover {
      color: hsl(0, 0%, 20%)
    }

    &.-current {
      background-color: hsl(0, 0%, 90%)
    }

  }

}
