.highlight {
  background-color: #000;

  code {
    color: hsl(0, 0%, 90%);
  }

  .highlighter-rouge & {
    background-color: hsl(0, 0%, 15%);
  ; }

  .c     { color: #686b79; font-style: italic; } // Comment
  .err   { color: #a61717; } // Error
  .k     { color: #ff75b5; } // Keyword
  .o     { color: #ffaad9; font-style: italic; } // Operator
  .cm    { color: #686b79; font-style: italic; } // Comment.Multiline
  .cp    { color: #999; font-weight: 700; } // Comment.Preproc
  .c1    { color: #686b79; font-style: italic; } // Comment.Single
  .cs    { color: #999; font-weight: 700; font-style: italic; } // Comment.Special
  .gd    { color: #000; background-color: #fdd; } // Generic.Deleted
  .gd .x { color: #000; background-color: #faa; } // Generic.Deleted.Specific
  .ge    { font-style: italic; } // Generic.Emph
  .gr    { color: #a00; } // Generic.Error
  .gh    { color: #999; } // Generic.Heading
  .gi    { color: #000; background-color: #dfd; } // Generic.Inserted
  .gi .x { color: #000; background-color: #afa; } // Generic.Inserted.Specific
  .go    { color: #888; } // Generic.Output
  .gp    { color: #555; } // Generic.Prompt
  .gs    { font-weight: 700; } // Generic.Strong
  .gu    { color: #aaa; } // Generic.Subheading
  .gt    { color: #a00; } // Generic.Traceback
  .kc    { font-weight: 700; } // Keyword.Constant
  .kd    { font-weight: 700; } // Keyword.Declaration
  .kp    { font-weight: 700; } // Keyword.Pseudo
  .kr    { font-weight: 700; } // Keyword.Reserved
  .kt    { color: #ffb86c; font-weight: 700; } // Keyword.Type
  .m     { color: #69a8f3; } // Literal.Number
  .s     { color: #19f9d8; } // Literal.String
  .na    { color: #ffaad9; } // Name.Attribute
  .nb    { color: #ffaad9; font-style: italic; } // Name.Builtin
  .nc    { color: #ffb86c; } // Name.Class
  .no    { color: #ffaad9; } // Name.Constant
  .ni    { color: #800080; } // Name.Entity
  .ne    { color: #900; font-weight: 700; } // Name.Exception
  .nf    { } // Name.Function
  .nl    { color: #fc9; } // Name.Namespace
  .nn    { color: #555; } // Name.Namespace
  .nt    { color: #f6c; } // Name.Tag
  .nv    { color: #ffaad9; } // Name.Variable
  .ow    { font-weight: 700; } // Operator.Word
  .w     { color: #bbb; } // Text.Whitespace
  .mf    { color: #69a8f3; } // Literal.Number.Float
  .mh    { color: #69a8f3; } // Literal.Number.Hex
  .mi    { color: #69a8f3; } // Literal.Number.Integer
  .mo    { color: #69a8f3; } // Literal.Number.Oct
  .sb    { color: #19f9d8; } // Literal.String.Backtick
  .sc    { color: #19f9d8; } // Literal.String.Char
  .sd    { color: #19f9d8; } // Literal.String.Doc
  .s2    { color: #19f9d8; } // Literal.String.Double
  .se    { color: #19f9d8; } // Literal.String.Escape
  .sh    { color: #19f9d8; } // Literal.String.Heredoc
  .si    { color: hsl(0, 0%, 90%); } // Literal.String.Interpol
  .sx    { color: #19f9d8; } // Literal.String.Other
  .sr    { color: #009926; } // Literal.String.Regex
  .s1    { color: #19f9d8; } // Literal.String.Single
  .ss    { color: #990073; } // Literal.String.Symbol
  .bp    { color: #999; } // Name.Builtin.Pseudo
  .vc    { color: #ffaad9; } // Name.Variable.Class
  .vg    { color: #ffaad9; } // Name.Variable.Global
  .vi    { color: #ffaad9; } // Name.Variable.Instance
  .il    { color: #69a8f3; } // Literal.Number.Integer.Long;
}