*:focus {
  outline: 0;
  border: 0;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1rem;
}

ol, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, textarea, select {
  border: 0;
  font-family: inherit;
}

a {
  text-decoration: none;
}

select {
  background-color: transparent;
}
