html {
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

pre {
  padding: 1rem;
  border-radius: 4px;
  margin-right: -1rem;
  margin-left: -1rem;

  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  
  background-color: hsl(0, 0%, 95%);
}