html {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
}

*, *:before, *:after {
  font-family: $font-family-body;
  box-sizing: inherit;
}

p > a {
  color: #000;
  position: relative;
  background-color: rgba($color-highlight, 0.1);

  &:hover {
  background-color: rgba($color-highlight, 0.3);
  }
}

ul {
  >li {
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin-top: 0.5rem;
  }
  >li:before {
    content: "•";
    padding-right: 0.5rem;
  }
}



blockquote {
  margin: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  border-left: 4px solid hsl(0, 0%, 80%);

  font-style: italic;
  color: hsl(0, 0%, 60%);
}

pre {
  padding: 1rem;
  border-radius: 4px;
  margin-right: -1rem;
  margin-left: -1rem;

 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -pre-wrap;
 white-space: -o-pre-wrap;
 word-wrap: break-word;

 background-color: hsl(0, 0%, 95%);
 border-radius: 4px;
 font-size: $font-size-base;
 line-height: $line-height-base;

  & * {
    font-family: $font-family-mono;
  }

}